<header id="title-block-header" class="quarto-title-block default$if(quarto-template-params.banner-header-class)$ $quarto-template-params.banner-header-class$$endif$">
  
  <div class="quarto-title-banner">
    <div class="quarto-title column-body">

      <div class="rzine-title-row">
        <a href="https://rzine.fr/" class="rzine-logo-link">
          <img src="logo.png" alt="Logo Rzine" class="rzine-logo">
        </a>

        <div class="rzine-title-text">
          <h1 class="title">$title$</h1>
          $if(subtitle)$
          <p class="subtitle">$subtitle$</p>
          $endif$
        </div>
      </div>

      <p class="rzine-review">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">
          <img style="margin-top:-3px;" src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" alt="Creative Commons BY License">
        </a>
        <a href="https://rzine.fr/">ISSN 2743-8791 - Rzine.fr - Revue de méthodes pour les SHS</a>
      </p>

      $if(description)$
      <div>
        <div class="description">
          $description$
        </div>
      </div>
      $endif$

      $if(categories)$
        $if(quarto-template-params.title-block-categories)$
      <div class="quarto-categories">
        $for(categories)$
        <div class="quarto-category">$categories$</div>
        $endfor$
      </div>
        $endif$
      $endif$
      
      
    </div>
  </div>
    
  $title-metadata.html()$

</header>